<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<MateusNeves_Checkout>
			<version>1.0</version>
		</MateusNeves_Checkout>
	</modules>
	<global>
		<models>
			<mateusneves_checkout>
				<class>MateusNeves_Checkout_Model</class>
			</mateusneves_checkout>
		</models>
		<events>
			<checkout_cart_save_before>
				<observers>
					<item_price_change>
						<type>singleton</type>
						<class>mateusneves_checkout/observer</class>
						<method>itemPriceChange</method>
					</item_price_change>
				</observers>
			</checkout_cart_save_before>
		</events>
	</global>
</config>